<h1>The State of School Sanitation in Nepal</h1>
<i>The neglected development link</i>
<h2>District-Wise(Girl) Students' Access to Sanitation in Community Schools</h2>
<%= link_to "Download JSON file", school_sanitation_index_path('json') %><br />
<%= link_to "Download XML file", school_sanitation_index_path('xml') %><br />
<%= link_to "Download CSV file", school_sanitation_export_to_csv_path %><br />