<script type="text/javascript">
  $(document).ready(function() {
    $.getJSON('/api/v1/school_sanitation/total_number_of_community_school', function(data) {      
      $('#community-school').html(numberWithCommas(data));
			console.log(numberWithCommas(data));
    });
    
    $.getJSON('/api/v1/school_sanitation/total_no_of_schools_with_toilet_facilities', function(data) {      
      $('#toilet-facilities').html(numberWithCommas(data));
      $('#schools-with-toilet-value').html('(' + numberWithCommas(data) + ')');      
    });
    
    $.getJSON('/api/v1/school_sanitation/percentage_of_schools_with_toilet_facilities', function(data) {      
      $('#schools-with-toilet-percent').html(data + '%');
    });
    
    $.getJSON('/api/v1/school_sanitation/total_no_of_toilets_for_girl_students_with_items_facilities', function(data) {      
      $('#separate-toilets-for-girls').html('(' + numberWithCommas(data) + ')');
    });
    
		$.getJSON('/api/v1/school_sanitation/percentage_of_separate_toilets_for_girls_with_items_facilities', function(data) {      
      $('#separate-toilets-for-girls-percent').html(data + '%');
    });
    
    $.getJSON('/api/v1/school_sanitation/total_students_boys_and_girls', function(data) {      
      $('#total-students').html(numberWithCommas(data));
    });
    
    $.getJSON('/api/v1/school_sanitation/percentage_of_schools_with_separate_toilets_for_girls', function(data) {      
      $('#schools-with-separate-toilets-for-girls-percent').html(data + '%');
    });

		$.getJSON('/api/v1/school_sanitation/search?utf8=%E2%9C%93&district=OVERALL', function(data) {
			var ratio = data.toilet_to_student_ratio;		
			var firstRatio = divideFirstRatio(ratio);
			var secondRatio = divideSecondRatio(ratio);

    	console.log(firstRatio);
    	console.log(secondRatio);
			$('#first-ratio').html(firstRatio);
			$('#second-ratio').html(secondRatio);
    });

		$('select').change(function() {
			window.top.location.href = '/school_sanitation/wateraid_with_district?utf8=✓&district=' + $(this).attr('value');
		});

		$('.district-menu').hide();
		$('#overall').hover(			
			function() {
				$('#overall a').css("background-color", "#14a5c8");
				$(".district-menu").hover(
					function() {
						$('#overall a').css("background-color", "#14a5c8");						
						$('.district-menu').stop().slideDown(100);						
					},
					function() {	
						$('#overall a').css("background-color", "#00cdff");					
						$('.district-menu').slideUp(100);					
					}
				);				
				$('.district-menu').stop().slideDown(100);
			},
			function() {
				$('#overall a').css("background-color", "#00cdff");
				$('.district-menu').slideUp(100);
			}
		);
		
		$.ajax({
  		url: '/api/v1/school_sanitation/list_of_districts',
  		success: function(data) {    		
    		for(var d=0; d<data.length; d++) {
						$("#ul-district-lists").append('<li><a href="/school_sanitation/wateraid_with_district?district='+ data[d] + '">' + data[d] + '</a></li>');
				}
  		}
		});
		
		$(function() {
				$.fn.scrollBottom = function() {
				    return $(document).height() - this.scrollTop() - this.height();
				};

				var $el = $('.top-button>div');
				var $window = $(window);

				$window.bind("scroll resize", function() {
				    var gap = $window.height() - $el.height() - 10;
				    var visibleFoot = 172 - $window.scrollBottom();
				    var scrollTop = $window.scrollTop()
				    
				    if(scrollTop < 172 + 10){
				        $el.css({
				            top: (172 - scrollTop) + "px",
				            bottom: "auto"
				        });
				    }else if (visibleFoot > gap) {
				        $el.css({
				            top: "auto",
				            bottom: visibleFoot + "px"
				        });
				    } else {
				        $el.css({
				            top: 0,
				            bottom: "auto"
				        });
				    }
				});
		});
	});
</script>

<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
	
		function drawChart() {
			drawToiletFacilitiesChart();
			drawToiletForGirlsChart();
			drawSeparateToiletForGirlsChart();
		}
	
		function drawToiletFacilitiesChart() {
			$.getJSON('/api/v1/school_sanitation/percentage_of_schools_with_toilet_facilities', function(data) {
				var vdata = google.visualization.arrayToDataTable([
					['Toilet', 'Percent'],
					['School with Toilet', data],
					['School without Toilet', (100-data)]
				]);
		    
				var chart = new google.visualization.PieChart(document.getElementById('chart-schools-with-toilet'));
				chart.draw(vdata);
			});
		}
	
	 	function drawToiletForGirlsChart() {
			$.getJSON('/api/v1/school_sanitation/percentage_of_separate_toilets_for_girls_with_items_facilities', function(data) {
				var vdata = google.visualization.arrayToDataTable([
					['Toilet For Girls', 'Percent'],
					['School Toilet for Girls', data],
					['School without Toilet for Girls', (100-data)]
				]);
		    
				var chart = new google.visualization.PieChart(document.getElementById('chart-separate-toilets-for-girls'));
				chart.draw(vdata);
			});
		}

		function drawSeparateToiletForGirlsChart() {
			$.getJSON('/api/v1/school_sanitation/percentage_of_schools_with_separate_toilets_for_girls', function(data) {
				var vdata = google.visualization.arrayToDataTable([
					['Toilet', 'Percent'],
					['Separate Toilet', data],
					['Without Separate Toilet', (100-data)]
				]);
		    
				var chart = new google.visualization.PieChart(document.getElementById('chart-schools-with-separate-toilets-for-girls'));
				chart.draw(vdata);
			});
		}		
</script>

<div id=stuff>

<div id="top">
	<div id="top-inner"></div>
</div>

<div id="header"><!--header-->
	<div class="main">
		
		<div id="title">
			<h1><strong>The state of school sanitation in Nepal</strong></h1>
			<p>The neglected development link.</p>
		</div>
		
		<div id="display-map">Display Map</div>
		
		<div id="overall">
			<%= link_to "Overall", school_sanitation_wateraid_path %>
		</div>

		<div class="district-menu">
			<div id="menu-title">Select a District from the list below</div>
			<ul id="ul-district-lists"></ul>
		</div>

		<div id="goto"><a href="#map"><p>Goto Map</p></a></div>
		<div class="clear"></div>
	</div>
</div><!--/header-->
	
<div id="nav"><!--nav-->
	<div class="main">
		
		<div id="school">
			<div id="community-school" class="total"></div>
			<div class="section">Community School</div>
		</div>
		
		<div id="toilet">
			<div id="toilet-facilities" class="total"></div>
			<div class="section">Toilet Facilities</div>
		</div>
		
		<div id="students">
			<div id="total-students" class="total"></div>
			<div class="section">Students</div>
		</div>

		<div class="clear"></div>
	</div>
</div><!--/nav-->
		
<div id="schools-toilet-top"></div><!--schools toilet-->

<div id="schools-toilet">
	<div class="main">
		<div class="page">
			
			<div class="left">
				<h2>No. of Schools with Toilet</h2>
				<hr>
				<div id="chart-schools-with-toilet"></div>
			</div>
			
			<div class="text">
				<div id="schools-with-toilet-percent" class="percent"></div>
				<div id="schools-with-toilet-value" class="value"></div>
				<div class="clear"></div>
				<div class="name">Schools with Toilet</div>
			</div>
		
			<div class="right">
				<div class="image">Toilet</div>
			</div>

			<div class="clear"></div>
			<div class="top-button"><a href="#">Top</a></div>
		</div>
	</div>
</div><!--schools toilet-->

<div id="girls-toilet"><!--girls toilet-->
	<div class="main">
		<div class="page">
			
			<div class="left">
				<h2>No. of Separate Toilets for Girls</h2>
				<hr>
				<div id="chart-separate-toilets-for-girls"></div>
			</div>
			
			<div class="text">
				<div id="separate-toilets-for-girls-percent" class="percent"></div>
				<div id="separate-toilets-for-girls" class="value"></div>
				<div class="clear"></div>
				<div class="name">Separate Toilets for Girls</div>
			</div>
			
			<div class="right">
				<div class="image">Girls Toilet</div>
			</div>
			
			<div class="clear"></div>
		</div>
	</div>
</div><!--/girls toilet-->

<div id="separate-girls-toilet"><!--separate girls toilet-->
	<div class="main">
		<div class="page">

			<div class="left">
				<h2>No. of Schools with separate Toilets for Girls</h2>
				<hr>
				<div id="chart-schools-with-separate-toilets-for-girls"></div>
			</div>

			<div class="text">
				<div id="schools-with-separate-toilets-for-girls-percent" class="percent"></div>
				<div class="name" class="clear">Schools with separate Toilets for Girls</div>
			</div>

			<div class="right">
				<div class="image">Separate Girls Toilet</div>
			</div>

			<div class="clear"></div>
			<div id="average-top"></div>
		</div>
	</div>
</div><!--/separate girls toilet-->

<!--average-->
<div id="average">
	<div class="main">
		<div class="page">
			<h2>On Average,</h2>
			<div id="first-ratio" class="toilet-quantity"></div>
			<div class="average-toilet">Toilet</div>
			<div class="serves">serves</div>
			<div id="second-ratio" class="students-numbers"></div>
			<div class="average-students">Students</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="map-top"></div>
</div><!--/average-->
</div><!-- end of stuff -->
<!--map-->
<div id="map">
	<%= render :template => 'nepalmap/index'%>
</div>
<!--/map-->
