<div id="footer">
	<div id="footer-menu"><!--Footer Menu-->
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Partners</a></li>
		</ul>
	</div><!--/Footer Menu-->
</div>
