<header><!--Header-->
	<div id="menu"><!--Menu-->
		<ul>
			<li><a href="#">About</a>/</li>
			<li><a href="#">FAQ</a>/</li>
			<li><a href="#">Contact</a>/</li>
			<li><a href="#">Partners</a></li>
		</ul>
	</div><!--/Menu-->

	<%= link_to image_tag("logo.png", :alt => "Logo", :title => "Home"), root_path, :id=>"logo" %>

	<div id="nav"><!--Navigation-->
		<ul>
			<li id="open-data-datasets">
				<%= link_to "Datasets", open_data_datasets_path %>
			</li>			
			<li id="open-data-apps">
				<%= link_to "Apps", open_data_apps_path %>
			</li>
			<li id="open-data-sectors">
				<a href="#">Sectors</a>
			</li>
		</ul>
	</div><!--/Navigation-->
	
	<div class="clear"></div>
</header><!--/Header-->
