<%= render :partial => 'header' %>

<div id="container"><!--Container-->
	<div id="apps-content">
		<h1>The State of School Sanitation in Nepal</h1>
		<div id="version"><em>Version 1.1</em></div>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>

	<%= link_to "", school_sanitation_wateraid_path, :id => "img" %>
	<div class="clear"></div>
</div><!--/Container-->

<div id="tags"><!--Tags-->
	<ul>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
		<li><a href="">Tags</a></li>
	</ul>
</div><!--/Tags-->

<div id="data-info">
	<table class="data">
		<tr>
			<th>Data Source</th>
			<td>It is a long established fact that a reader will be distracted looking at its layout.
			</td>
		</tr>
		<tr>
			<th>Publisher</th>
			<td>Lorem Ipsum</td>
		</tr>
		<tr>
			<th>Sectors</th>
			<td>Agriculture</td>
		</tr>
	</table>
</div>

<div class="clear"></div>

<%= render :partial => 'footer' %>
