<%= render :partial => 'header' %>

<div id="container"><!--Container-->
	<div id="apps-content">
		<h1>An Info Graphics for State of School Sanitation in Nepal</h1>
		<div id="version">Version 2.0
			<div id="update">Updated: August 2011</div>
		</div>

		<p>WaterAid transforms lives by improving access to safe water, hygiene and sanitation in the world's poorest communities. They work with partners and influence decision-makers to maximise their impact.</p>
	</div>

	<%= link_to "", school_sanitation_wateraid_path, :id => "img" %>
	<div class="clear"></div>
</div><!--/Container-->

<div id="tags"><!--Tags-->
	<ul>
		<li><a href="">Water</a></li>
		<li><a href="">Sanitation</a></li>
		<li><a href="">Schools</a></li>
		<li><a href="">Community</a></li>
		<li><a href="">Students</a></li>
		<li><a href="">Districts</a></li>
	</ul>
</div><!--/Tags-->

<div class="clear"></div>

<%= render :partial => 'footer' %>
