<%= render :partial => 'header' %>

<div id="container"><!--Container-->
	<div id="apps-content">
		<h1>An Info Graphics for State of School Sanitation in Nepal</h1>
		<div id="version">Version 2.0
			<div id="update">Updated: March 2014</div>
		</div>

		<p>WaterAid transforms lives by improving access to safe water, hygiene and sanitation in the world's poorest communities. They work with partners and influence decision-makers to maximise their impact.</p>
	</div>

	<%= link_to "", school_sanitation_wateraid_path, :id => "img" %>
	<div class="clear"></div>
</div><!--/Container-->

<div id="tags"><!--Tags-->
	<ul>
		<li>Tags:</li>
		<li><a href="">Water</a></li>
		<li><a href="">Sanitation</a></li>
		<li><a href="">Schools</a></li>
		<li><a href="">Community</a></li>
		<li><a href="">Students</a></li>
		<li><a href="">Districts</a></li>
	</ul>
</div><!--/Tags-->

<div class="clear"></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	// required: replace example with your forum shortname
	var disqus_shortname = 'github'; 

  	/* * * DON'T EDIT BELOW THIS LINE * * */
  	(function() {
      	var dsq = document.createElement('script'); 
			dsq.type = 'text/javascript'; 
			dsq.async = true;
      	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<%= render :partial => 'footer' %>
