<%= render :partial => 'header' %>

<div id="container"><!--Container-->
	<div id="dataset-content">
		<h1>The State of School Sanitation in Nepal</h1>
	</div>

	
	<div id="data-info"><!--Data Information-->
		<table class="data">
			<tr class="line">
				<th>Data Source</th>
				<td><a href="http://www.wateraid.org/nepal">www.wateraid.org/nepal</a></td>
			</tr>
			
			<tr class="line">
				<th>Publisher</th>
				<td>WaterAid</td>
			</tr>
			
			<tr>
				<th>Sectors</th>
				<td>Water & Sanitation</td>
			</tr>
		</table>
	</div><!--/Data Information-->
<div class="clear"></div>
</div><!--/Container-->

<div id="tags"><!--Tags-->
	<ul>
		<li><a href="">Water</a></li>
		<li><a href="">Sanitation</a></li>
		<li><a href="">Schools</a></li>
		<li><a href="">Community</a></li>
		<li><a href="">Students</a></li>
		<li><a href="">Districts</a></li>
	</ul>
</div><!--/Tags-->

<%= render :partial => 'footer' %>
