<%= render :partial => 'header' %>

<div id="container"><!--Container-->
	<div id="school-sanitation">
		<h1>
			<%= link_to "The State of School Sanitation in Nepal", open_data_infographics_path %>
		</h1>
	</div>

	<div id="view"><!--Views-->
		<p><strong>Views:</strong> 50</p>
	</div><!--/Views-->

	<div id="container"><!--Container-->
	<div id="school-sanitation">
		<h1>Agriculture</h1>
	</div>

	<div id="view"><!--Views-->
		<p><strong>Views:</strong> 0</p>
	</div><!--/Views-->

	<div class="clear"></div>
</div><!--/Container-->

<div id="tags"><!--Tags-->
	<ul>
		<li>Tags:</li>
		<li><a href="">Water</a></li>
		<li><a href="">Sanitation</a></li>
		<li><a href="">Schools</a></li>
		<li><a href="">Community</a></li>
		<li><a href="">Students</a></li>
		<li><a href="">Districts</a></li>
	</ul>
</div><!--/Tags-->

<%= render :partial => 'footer' %>
