<%= render :partial => 'header' %>		
<div id="slideshow"><!--Slideshow-->
	<%= image_tag("banner.gif", :alt=>"banner") %>
</div><!--/Slideshow-->

<div id="block"><!--Block-->
	<div id="apps"><!--Apps-->
		<div class="block-header">Apps</div>
		<div class="app-image">Images</div>
		<div class="text-box">
			<div id="apps-title">
				<%= link_to "The State of School Sanitation in Nepal", open_data_apps_path %>
			</div>
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an ...
			</p>
		</div>
	</div><!--/Apps-->

	<div id="sectors"><!--Sectors-->
		<div class="block-header">Sectors</div>
		<div class="sectors-image">Images</div>
		<div class="text-box">
			<div id="left">
				<ul class="bullets">
					<li>Agriculture</li>
					<li>Banking</li>
					<li>Business</li>
					<li>Education</li>
					<li>Health</li>
				</ul>
			</div>
			<div id="right">
				<ul class="bullets">
					<li>Insurance</li>
					<li>Public</li>
					<li>Telecom</li>
					<li>Tourism</li>
					<li><a href="">Water & Sanitation</a></li>
				</ul>
			</div>
		</div>
	</div><!--/Sectors-->

	<div id="collaborate"><!--Collaborate-->
		<div class="block-header">Collaborate</div>
		<div class="collaborate-image">Images</div>
		<div class="text-box">
			<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.</p>
			<div class="links"><a href="">Read more...</a></div>
		</div>
	</div><!--/Collaborate-->
	<div class="clear"></div>
</div><!--/Block-->

<div id="content"><!--Content-->
	<h2>What is Open Data ?</h2>
	<p>Open data is the idea that certain data should be freely available to everyone to use and republish as they wish, without restrictions from copyright, patents or other mechanisms of control. The goals of the open data movement are similar to those of other "Open" movements such as open source, open content, and open access. The philosophy behind open data has been long established (for example in the Mertonian tradition of science), but the term "open data" itself is recent, gaining popularity with the rise of the Internet and World Wide Web and, especially, with the launch of open-data government initiatives such as <a href="http://www.data.gov">data.gov</a>.</p>
</div><!--/Content-->

<div id="partners"><!--Partners-->
	<div class="partners-header">Our Partners</div>
</div><!--/Partners-->

<div class="clear"></div>
<%= render :partial => 'footer' %>
