<!DOCTYPE html>
<html>
<head>
  <title>Open Data</title>
	<%= stylesheet_link_tag    "open_data_reset", "open_data", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper"><!--Wrapper-->
	  <%= yield %>
	</div>
</body>
</html> 
